{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>James Meldrum</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/homepage_style.css' %}">

  </head>
  <body>

  <header>
    <section class="header-section">
      <section class="header-left"><h3> <a class="header-link" href="#professional">CONTACT ME</a> </h3></section>
      <section class="header-center"><h3> <a class="header-link" href="#home">JAMES MELDRUM</a> </h3></section>
      <section class="header-right"><h3> <a class="header-link" href="#personal">MY LINKS</a> </h3></section>
    </section>
  </header>
  <script type="text/javascript" src="{% static 'blog/scroll.js' %}"></script>
    {% block content %}{% endblock %}
  </body>
</html>
